<app-root></app-root>
<app-top-bar></app-top-bar>
<div>

    <form>
        <div class="container p-0">
            <div class="mb-3 mt-3">
                <span class="text-left text-capitalize heading" style="color:#0d416b">
                    <h2>CUSTOMER FORM</h2>
                </span>
            </div>
            <div class="card card-body shadow p-3 mb-4 rounded">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text-left text-capitalize heading">
                            <h3 style="color: #00aae7">Personal details</h3>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span class="small text-muted">First Name<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="First Name" name="in_FirstName"
                                maxlength='30' pattern="[a-zA-Z ]*" required ngModel>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <span class="small text-muted">Last Name<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Last Name" name='in_LastName'
                                maxlength='30' pattern="[a-zA-Z ]*" required ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span class="small text-muted">Email<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control static-field" aria-label="email" name='in_Email_ID'
                                value='email' ngModel email required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <span class="small text-muted">Contact Number<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control static-field" aria-label="phone" name='in_Phone'
                                value='phone' required ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span class="small text-muted">Street Name<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Address" name='in_Address1' required
                                ngModel>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <span class="small text-muted">Apt #<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Address 2" name='in_Address2' ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="small text-muted">City<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="City" name='in_City'
                                pattern="[a-zA-Z ]*" required ngModel>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <span class="small text-muted">State<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="state" name='in_State'
                                pattern="[a-zA-Z ]*" required ngModel>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <span class="small text-muted">Country<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Country" name='in_Country'
                                pattern="[a-zA-Z ]*" required ngModel>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <span class="small text-muted">Zip Code<sup class="text-danger">*</sup></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Zip Code" name='in_ZipCode'
                                maxlength='5' minlength='5' pattern="[0-9]*" required ngModel>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container mt-5 mb-5 p-0">

            <div class="row mb-5" style="float: right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>